In [172]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import csv
import os

In [173]:
# File to Load (Remember to change the path if needed.)
SkyWest = "OJI homework1 copy.csv"

In [174]:
# Read the Data and store into a Pandas DataFrame
SkyWest_df = pd.read_csv(SkyWest)

#Check Data
print(SkyWest_df)
SkyWest_df.head(10)

     OnCompany Property Department Injury Location  \
0                  True         CS             SLC
1                  True         CS             DEN
2                  True         CS             DEN
3                  True         CS             FCA
4                  True         IF             ATL
..                  ...        ...             ...
367                True         CS             SFO
368                True         CS             SLC
369                True         CS             DRO
370                True         CS             GCC
371                True         CS             COS

    Injury Location - City State Zip Injury Location - County/Country  \
0            Salt Lake City UT 84113                        Salt Lake
1                    Denver CO 80249                           Denver
2                    Denver CO 80249                           Denver
3                 Kalispell MT 59901                         Flathead
4                   Atlanta GA 30320                              NaN
..                               ...                              ...
367           San Francisco CA 94128                    San Francisco
368          Salt Lake City UT 84113                        Salt Lake
369                 Durango CO 81303                          Durango
370                Gillette WY 82716                         Campbell
371        Colorado Springs CO 80916                          El Paso

                Injury Location - Notes           Med Care Used Reported Date  \
0                       The E Concourse                     Yes      9/2/2014
1                              Gates 52  Yes: Refused Initially      9/8/2014
2                              RAMP #54                     Yes      9/1/2014
3                       bin of airplane                     Yes    11/25/2014
4                               Onboard                      No      9/3/2014
..                                  ...                     ...           ...
367                         Ramp Stairs                      No    11/28/2014
368                         B Concourse  Yes: Refused Initially    11/30/2014
369                                Ramp                     Yes    11/30/2014
370  in cargo bin loading/stacking bags                      No    11/30/2014
371                     baggage service                     Yes     12/2/2014

     Season Shift  ... Baggage Involved.1 Baggage Location Whose Baggage  \
0    Summer    AM  ...                NaN              NaN           NaN
1    Summer    AM  ...                NaN              NaN           NaN
2    Summer    AM  ...                NaN              NaN           NaN
3      Fall    PM  ...                NaN              NaN           NaN
4    Summer    AM  ...                NaN              NaN           NaN
..      ...   ...  ...                ...              ...           ...
367    Fall    AM  ...                NaN              NaN           NaN
368    Fall   NaN  ...              False              NaN           NaN
369    Fall    AM  ...                NaN              NaN           NaN
370    Fall    AM  ...                NaN              NaN           NaN
371    Fall    PM  ...                NaN              NaN           NaN

    Aircraft Equipment Aircraft Location Aircraft Movement  \
0                  NaN               NaN               NaN
1                  NaN               NaN               NaN
2                  NaN               NaN               NaN
3                  NaN               NaN               NaN
4                  NaN               NaN               NaN
..                 ...               ...               ...
367                NaN               NaN               NaN
368           Jumpseat         In Flight               NaN
369                NaN               NaN               NaN
370                NaN               NaN               NaN
371                NaN               NaN               NaN

    Briefed of Turbulence Flight Phase      Injury Location.1  \
0                     NaN          NaN                    NaN
1                     NaN          NaN                    NaN
2                     NaN          NaN                    NaN
3                     NaN          NaN                    NaN
4                     NaN          NaN                    NaN
..                    ...          ...                    ...
367                   NaN          NaN                    NaN
368                   NaN          NaN  Forward/Rear Jumpseat
369                   NaN          NaN                    NaN
370                   NaN          NaN                    NaN
371                   NaN          NaN                    NaN

    Turbulence Contributed
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
..                     ...
367                    NaN
368                  False
369                    NaN
370                    NaN
371                    NaN

[372 rows x 79 columns]

,OnCompany Property,Department,Injury Location,Injury Location - City State Zip,Injury Location - County/Country,Injury Location - Notes,Med Care Used,Reported Date,Season,Shift,...,Baggage Involved.1,Baggage Location,Whose Baggage,Aircraft Equipment,Aircraft Location,Aircraft Movement,Briefed of Turbulence,Flight Phase,Injury Location.1,Turbulence Contributed
0,True,CS,SLC,Salt Lake City UT 84113,Salt Lake,The E Concourse,Yes,9/2/2014,Summer,AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,True,CS,DEN,Denver CO 80249,Denver,Gates 52,Yes: Refused Initially,9/8/2014,Summer,AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,True,CS,DEN,Denver CO 80249,Denver,RAMP #54,Yes,9/1/2014,Summer,AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,True,CS,FCA,Kalispell MT 59901,Flathead,bin of airplane,Yes,11/25/2014,Fall,PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,True,IF,ATL,Atlanta GA 30320,NaN,Onboard,No,9/3/2014,Summer,AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,False,FO,BNA,Nashville TN 37214,Davidson,Hotel Pool,Yes,9/2/2014,Summer,AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,False,CS,JAC,Jackson Hole WY 83001,Teton,Ramp,Yes,9/2/2014,Summer,AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,False,IF,LAX,Los Angeles CA 90045,Los Angeles,In shower at custom hotel in lax in room 606,No,9/2/2014,Summer,AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,False,CS,YUM,Yuma AZ 85365,Yuma,ramp,No,9/2/2014,Summer,PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,True,IF,SLC,Salt Lake City UT 84113,Salt Lake,Aft Galley,Yes,9/3/2014,Summer,PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [175]:
SkyWest_df.describe()

       Belt Loader Available
count              60.000000
mean                0.966667
std                 0.735692
min                 0.000000
25%                 0.000000
50%                 1.000000
75%                 1.250000
max                 2.000000

In [176]:
SkyWest_df.count().head(10)

OnCompany Property                  372
Department                          372
Injury Location                     372
Injury Location - City State Zip    372
Injury Location - County/Country    321
Injury Location - Notes             372
Med Care Used                       372
Reported Date                       372
Season                              372
Shift                               279
dtype: int64

In [177]:
# Lookng for missing values
SkyWest_df.isnull

<bound method DataFrame.isnull of      OnCompany Property Department Injury Location  \
0                  True         CS             SLC
1                  True         CS             DEN
2                  True         CS             DEN
3                  True         CS             FCA
4                  True         IF             ATL
..                  ...        ...             ...
367                True         CS             SFO
368                True         CS             SLC
369                True         CS             DRO
370                True         CS             GCC
371                True         CS             COS

    Injury Location - City State Zip Injury Location - County/Country  \
0            Salt Lake City UT 84113                        Salt Lake
1                    Denver CO 80249                           Denver
2                    Denver CO 80249                           Denver
3                 Kalispell MT 59901                         Flathead
4                   Atlanta GA 30320                              NaN
..                               ...                              ...
367           San Francisco CA 94128                    San Francisco
368          Salt Lake City UT 84113                        Salt Lake
369                 Durango CO 81303                          Durango
370                Gillette WY 82716                         Campbell
371        Colorado Springs CO 80916                          El Paso

                Injury Location - Notes           Med Care Used Reported Date  \
0                       The E Concourse                     Yes      9/2/2014
1                              Gates 52  Yes: Refused Initially      9/8/2014
2                              RAMP #54                     Yes      9/1/2014
3                       bin of airplane                     Yes    11/25/2014
4                               Onboard                      No      9/3/2014
..                                  ...                     ...           ...
367                         Ramp Stairs                      No    11/28/2014
368                         B Concourse  Yes: Refused Initially    11/30/2014
369                                Ramp                     Yes    11/30/2014
370  in cargo bin loading/stacking bags                      No    11/30/2014
371                     baggage service                     Yes     12/2/2014

     Season Shift  ... Baggage Involved.1 Baggage Location Whose Baggage  \
0    Summer    AM  ...                NaN              NaN           NaN
1    Summer    AM  ...                NaN              NaN           NaN
2    Summer    AM  ...                NaN              NaN           NaN
3      Fall    PM  ...                NaN              NaN           NaN
4    Summer    AM  ...                NaN              NaN           NaN
..      ...   ...  ...                ...              ...           ...
367    Fall    AM  ...                NaN              NaN           NaN
368    Fall   NaN  ...              False              NaN           NaN
369    Fall    AM  ...                NaN              NaN           NaN
370    Fall    AM  ...                NaN              NaN           NaN
371    Fall    PM  ...                NaN              NaN           NaN

    Aircraft Equipment Aircraft Location Aircraft Movement  \
0                  NaN               NaN               NaN
1                  NaN               NaN               NaN
2                  NaN               NaN               NaN
3                  NaN               NaN               NaN
4                  NaN               NaN               NaN
..                 ...               ...               ...
367                NaN               NaN               NaN
368           Jumpseat         In Flight               NaN
369                NaN               NaN               NaN
370                NaN               NaN               NaN
371                NaN               NaN               NaN

    Briefed of Turbulence Flight Phase      Injury Location.1  \
0                     NaN          NaN                    NaN
1                     NaN          NaN                    NaN
2                     NaN          NaN                    NaN
3                     NaN          NaN                    NaN
4                     NaN          NaN                    NaN
..                    ...          ...                    ...
367                   NaN          NaN                    NaN
368                   NaN          NaN  Forward/Rear Jumpseat
369                   NaN          NaN                    NaN
370                   NaN          NaN                    NaN
371                   NaN          NaN                    NaN

    Turbulence Contributed
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
..                     ...
367                    NaN
368                  False
369                    NaN
370                    NaN
371                    NaN

[372 rows x 79 columns]>

In [178]:
SkyWest_df.dtypes

OnCompany Property                    bool
Department                          object
Injury Location                     object
Injury Location - City State Zip    object
Injury Location - County/Country    object
                                     ...
Aircraft Movement                   object
Briefed of Turbulence               object
Flight Phase                        object
Injury Location.1                   object
Turbulence Contributed              object
Length: 79, dtype: object

In [179]:
# Changing Data type from bool to object
SkyWest_df["OnCompany Property"] = SkyWest_df["OnCompany Property"].astype(object)
SkyWest_df["OnCompany Property"].dtypes

dtype('O')

In [180]:
# 5. Export the Dataframe as a new CSV file without the index.
SkyWest_df.to_csv('SkyWest_df.csv',index=False)

In [181]:
# Displaying values in columns 
SkyWest_df["OnCompany Property"].unique()

array([True, False], dtype=object)

In [182]:
# Counting values in columns
len(SkyWest_df["OnCompany Property"])

372

In [183]:
# Counting values amount in columns
SkyWest_df["OnCompany Property"].value_counts()

True     311
False     61
Name: OnCompany Property, dtype: int64

In [184]:
len(SkyWest_df["Department"])

372

In [185]:
SkyWest_df["Department"].unique()

array(['CS', 'IF', 'FO', 'MX', 'PD'], dtype=object)

In [186]:
SkyWest_df["Department"].value_counts()

CS    209
IF    102
MX     49
FO     11
PD      1
Name: Department, dtype: int64

In [187]:
# Changing Data type from object to float
SkyWest_df["OnCompany Property"] = SkyWest_df["OnCompany Property"].astype(float)
SkyWest_df["OnCompany Property"].dtypes

dtype('float64')

In [ ]:
SkyWest_df["Safeguard Available"].unique()

array([nan, 'No', 'Yes'], dtype=object)

In [ ]:
SkyWest_df["Safeguard Available"].value_counts()

No     198
Yes    154
Name: Safeguard Available, dtype: int64

In [ ]:
len(SkyWest_df["Safeguard Available"])

372